<!DOCTYPE html>
<html>
    <head>
        <title>Flask-Painter</title>
        <link rel="stylesheet" href="./static/style.css">
    </head>
    <body>
        <div class="file-section">
            <h2>File Download</h2>
            <p>Click the button below to download the file.</p>
            <a href="/download" download="output.txt" class="button">Download File</a>
          </div>
          
          <div class="file-section">
            <h2>File Upload</h2>
            <p>Select a file to upload.</p>
            <form enctype="multipart/form-data">
              <h5>Ready</h5>
            </form>
          </div>
    </body>
</html>
